<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>4k4k神马影院_神马电影手机看片，伦理、限制级电影在线观看 - www.4k4k.org 4k4k我不卡影院</title>
<meta name="keywords" content="4k4k神马影院,神马电影手机看片,神马电影,我不卡影院,神马电影在线观看">
<meta name="description" content="4k4k神马影院手机电影主页,神马影院为网友提供神马影院手机电影在线观看,包括伦理电影、限制级电影手机在线观看不用下载播放器,更多精彩尽在神马电影院我不卡.">
<meta name="title" content="4k4k神马影院_神马电影手机看片，伦理、限制级电影在线观看 - www.4k4k.org 4k4k我不卡影院">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery-1.4.4.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/jquery.lazyload.js"></script>
</head>
<body>
<div class="header-all">
  <div class="top clearfix">
    <ul class="logo">
      <a href="/"> <i class="logobg"> </i> </a>
    </ul>
    <ul class="top-nav">
      <li> <a class="now" href="/"> 首页 </a> </li>

      <li class="" _t_nav="topnav-1"> <a href="/list/index1.html"> 电影 <i class="sjbgs"> </i> <i class="sjbgx"> </i> </a> </li>

      <li class="" _t_nav="topnav-2"> <a href="/list/index2.html"> 电视剧 <i class="sjbgs"> </i> <i class="sjbgx"> </i> </a> </li>

      <li class="" _t_nav="topnav-3"> <a href="/list/index3.html"> 动漫 <i class="sjbgs"> </i> <i class="sjbgx"> </i> </a> </li>

      <li class="" _t_nav="topnav-4"> <a href="/list/index4.html"> 综艺 <i class="sjbgs"> </i> <i class="sjbgx"> </i> </a> </li>

      <li class="" _t_nav="topnav-5"> <a href="/list/index5.html"> 伦理 <i class="sjbgs"> </i> <i class="sjbgx"> </i> </a> </li>

      <li> <a href="/list/index6.html"> 写真 </a> </li>


      <li> <a href="/gbook.php"> 留言 </a> </li>
    </ul>
    <ul class="search clearfix">
      <form name="formsearch" id="formsearch" action="/search.php" method="post" target="_self" autocomplete="off">
        <input class="input" name="searchword" type="text" id="keyword" placeholder="请输入影片或演员名">
        <input class="imgbt" type="submit" value="">
      </form>
    </ul>
    <ul class="nav-qt aa">
      <li class="bb"> <a href="javascript:void(0)" onmouseover="$MH.showHistory(1);"> <i class="jl"> </i> 观看历史 </a>
        <div class="cc"> <script type="text/javascript" src="/js/history.js"></script><script type="text/javascript">$MH.limit=5;$MH.WriteHistoryBox(180,170,'font');$MH.recordHistory({name:'{playpage:name}',link:'{playpage:url}',pic:'{playpage:pic}'})</script><div id="HISTORY" style="width: 180px; display: none;"></div> </div>
      </li>
      <li class="bb"> <strong class="ma"> <i class="mabg"> </i> 二维码 </strong>
        <div class="cc maw"> <i class="ewmbg"> </i>
          <p> 扫描二维码用手机观看 </p>
        </div>
      </li>
      <li class="bb member"><strong class="ma"><i class="mbbg"></i></strong>
        <div class="cc mbp"><span id="seacms_member"></span></div>
      </li>
    </ul>
    <ul class="sj-search">
      <li class="sbtn2"><b style="color: #2F4151;background-color: #F6F6F9;padding: 1px 4px;border-radius: 5px;">搜索</b></li>
    </ul>
    <ul class="sj-nav">
      <li class="sbtn1"><b style="color: #2F4151;background-color: #F6F6F9;padding: 1px 4px;border-radius: 5px;">分类</b></li>
    </ul>
    <ul class="sj-navhome">
      <li><a href="/"><b style="color: #2F4151;background-color: #F6F6F9;padding: 1px 4px;border-radius: 5px;">首页</b></a></li>
    </ul>
  </div>
  <div class="nav-down clearfix">
    <div id="topnav-1" class="nav-down-1" style="display:none;" _t_nav="topnav-1">
      <div class="nav-down-2 clearfix">
        <ul>

          <li> <a href="/list/index5.html">伦理</a> </li>

          <li> <a href="/list/index6.html">写真</a> </li>

        </ul>
      </div>
    </div>
    <div id="topnav-2" class="nav-down-1" style="display: none;" _t_nav="topnav-2">
      <div class="nav-down-2 clearfix">
        <ul>

        </ul>
      </div>
    </div>
    <div id="topnav-3" class="nav-down-1" style="display: none;" _t_nav="topnav-3">
      <div class="nav-down-2 clearfix">
        <ul>

        </ul>
      </div>
    </div>
    <div id="topnav-4" class="nav-down-1" style="display: none;" _t_nav="topnav-4">
      <div class="nav-down-2 clearfix">
        <ul>

        </ul>
      </div>
    </div>
    <div id="topnav-news" class="nav-down-1" style="display:none;" _t_nav="topnav-news">
      <div class="nav-down-2 clearfix">
        <ul>

          <li> <a href="/articlelist/?17.html"> 国内 </a> </li>

          <li> <a href="/articlelist/?18.html"> 国际 </a> </li>

          <li> <a href="/articlelist/?19.html"> 社会 </a> </li>

          <li> <a href="/articlelist/?20.html"> 军事 </a> </li>

          <li> <a href="/articlelist/?21.html"> 娱乐 </a> </li>

          <li> <a href="/articlelist/?22.html"> 八卦 </a> </li>

          <li> <a href="/articlelist/?23.html"> 科技 </a> </li>

          <li> <a href="/articlelist/?24.html"> 财经 </a> </li>

          <li> <a href="/articlelist/?25.html"> 公益 </a> </li>

          <li> <a href="/articlelist/?26.html"> 评论 </a> </li>

          <li> <a href="/articlelist/?27.html"> 时尚 </a> </li>

        </ul>
      </div>
    </div>
    <div id="sj-nav-1" class="nav-down-1 sy1 sj-noover" style="display:none;" _s_nav="sj-nav-1">
      <div class="nav-down-2 sj-nav-down-2 clearfix">
        <ul>
          <li> <a href="/"> 首页 </a> </li>

          <li> <a href="/list/index1.html">电影</a> </li>

          <li> <a href="/list/index2.html">电视剧</a> </li>

          <li> <a href="/list/index3.html">动漫</a> </li>

          <li> <a href="/list/index4.html">综艺</a> </li>

          <li> <a href="/list/index5.html">伦理</a> </li>

          <li> <a href="/list/index6.html">写真</a> </li>


          <li> <a href="/gbook.php" target="_blank"> 留言 </a> </li>
        </ul>
      </div>
    </div>
    <div id="sj-nav-search" class="nav-down-1 sy2 sj-noover" style="display:none;" _t_nav1="sj-nav-search">
      <div class="nav-down-2 sj-nav-down-search clearfix">
        <form name="formsearch" id="formsearch" action="/search.php" method="post" target="_self" autocomplete="off">
          <input class="input" name="searchword" type="text" id="keyword" placeholder="请输入影片或演员名">
          <input class="imgbt" type="submit" value="搜索">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="topone clearfix"> </div>
<div align="center">

</div>

<div class="main">
<div id="sj-gjsy" class="sy clearfix" _s_nav="sj-gjsy" "="">
  <dl class="clearfix">

    <dd><a href="/list/index1.html" title="电影">电影</a></dd>

    <dd><a href="/list/index2.html" title="电视剧">电视剧</a></dd>

    <dd><a href="/list/index4.html" title="综艺">综艺</a></dd>

    <dd><a href="/list/index5.html" title="伦理">伦理</a></dd>

    <dd><a href="/list/index6.html" title="写真">写真</a></dd>


  </dl>
</div>



<div class="main">
    <div class="index-tj clearfix">
        <div class="index-tj-l">
          <h1 class="title index-color clearfix"><span class="hitkey">
         <a href="/movie/index9433.html">妖猫传</a>


         <a href="/movie/index9291.html">奇门遁甲</a>


         <a href="/movie/index21808.html">流浪地球</a>


         <a href="/movie/index20486.html">知否知否应是绿肥红瘦</a>


         <a href="/movie/index21804.html">疯狂的外星人</a>

          </span>推荐影视</h1>
          <ul>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21999.html" title="乡村爱情11"><img class="lazy" data-original="http://r1.ykimg.com/051600005C47DFBAADC311BF360AEE13" src="http://r1.ykimg.com/051600005C47DFBAADC311BF360AEE13" alt="乡村爱情11" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">乡村爱情11</p><p class="actor">赵本山,狄龙,毕畅,贺树峰</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>43</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index22294.html" title="倚天屠龙记2019"><img class="lazy" data-original="http://wx3.sinaimg.cn/mw690/006HQyhRly1g0la7010vrj307i0a0jrv.jpg" src="http://wx3.sinaimg.cn/mw690/006HQyhRly1g0la7010vrj307i0a0jrv.jpg" alt="倚天屠龙记2019" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">倚天屠龙记2019</p><p class="actor">曾舜晞,陈钰琪,祝绪丹,李东学,周海媚,樊少皇,黑子,王德顺,杨旻娜</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>12</i></p></a>
          </li>

          <li class="p2 m1 mmr0"><a class="link-hover" href="/movie/index22285.html" title="黄金瞳"><img class="lazy" data-original="http://wx4.sinaimg.cn/mw690/006HQyhRly1g0k6ez8fgbj30u01hce81.jpg" src="http://wx4.sinaimg.cn/mw690/006HQyhRly1g0k6ez8fgbj30u01hce81.jpg" alt="黄金瞳" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">黄金瞳</p><p class="actor">张艺兴,王紫璇,李立群,王栎鑫,陈泇文,孟阿赛,石兆琪,洪剑涛,王闯</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>16</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21460.html" title="大人物"><img class="lazy" data-original="http://wx2.sinaimg.cn/mw690/006HQyhRly1g0np9bk35wj307i0anmxg.jpg" src="http://wx2.sinaimg.cn/mw690/006HQyhRly1g0np9bk35wj307i0anmxg.jpg" alt="大人物" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">大人物</p><p class="actor">王千源,包贝尔,王迅,王砚辉</p><p class="actor">电影</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21555.html" title="小女花不弃"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2537829589.jpg" src="/pic/load.gif" alt="小女花不弃"><span class="video-bg"></span><span class="lzbz"><p class="name">小女花不弃</p><p class="actor">林依晨,张彬彬,林柏宏</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>49</i></p></a>
          </li>

          <li class="p2 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index22017.html" title="招摇"><img class="lazy" data-original="http://wx3.sinaimg.cn/mw690/006HQyhRly1fzn5rx1uw1j307i0b974j.jpg" src="http://wx3.sinaimg.cn/mw690/006HQyhRly1fzn5rx1uw1j307i0b974j.jpg" alt="招摇" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">招摇</p><p class="actor">白鹿,许凯,代旭,肖燕</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>26</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index18913.html" title="行尸走肉第九季"><img class="lazy" data-original="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0d6eej2sxj307i0b4jrq.jpg" src="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0d6eej2sxj307i0b4jrq.jpg" alt="行尸走肉第九季" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">行尸走肉第九季</p><p class="actor">克里斯蒂·瑟拉图斯,瑞恩·赫斯特,丹娜·奎里拉,扎克·麦克格温</p><p class="actor">电视剧</p><p class="actor">2018/欧美</p></span><p class="other"><i>11</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21775.html" title="鬼吹灯之怒晴湘西"><img class="lazy" data-original="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0d5xcyyrwj307i0b9t99.jpg" src="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0d5xcyyrwj307i0b9t99.jpg" alt="鬼吹灯之怒晴湘西" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">鬼吹灯之怒晴湘西</p><p class="actor">潘粤明,高伟光,辛芷蕾,曹卫宇</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>21</i></p></a>
          </li>

          <li class="p2 m1 mmr0"><a class="link-hover" href="/movie/index22217.html" title="阿丽塔:战斗天使"><img class="lazy" data-original="http://wx1.sinaimg.cn/mw690/006HQyhRly1g08sx975g6j307g0b13z5.jpg" src="http://wx1.sinaimg.cn/mw690/006HQyhRly1g08sx975g6j307g0b13z5.jpg" alt="阿丽塔:战斗天使" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">阿丽塔:战斗天使</p><p class="actor">罗莎·萨拉扎尔，克里斯托弗·瓦尔兹，马赫沙拉·阿里，艾德·斯克林</p><p class="actor">电影</p><p class="actor">2019/欧美</p></span><p class="other"><i>HDTC</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21804.html" title="疯狂的外星人"><img class="lazy" data-original="http://r1.ykimg.com/051600005C46C0C8859B5EA8030D79BD" src="http://r1.ykimg.com/051600005C46C0C8859B5EA8030D79BD" alt="疯狂的外星人" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">疯狂的外星人</p><p class="actor">黄渤/沈腾/马修·莫里森</p><p class="actor">电影</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
          </li>

          <li class="p2 m1"><a class="link-hover" href="/movie/index21803.html" title="飞驰人生"><img class="lazy" data-original="http://r1.ykimg.com/051600005C46C0CF859B5D4F470A51F7" src="http://r1.ykimg.com/051600005C46C0CF859B5D4F470A51F7" alt="飞驰人生" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">飞驰人生</p><p class="actor">沈腾/黄景瑜/尹正</p><p class="actor">电影</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
          </li>

          <li class="p2 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index21808.html" title="流浪地球"><img class="lazy" data-original="https://r1.ykimg.com/050E00005C0507EBAD881AB4020A1927" src="https://r1.ykimg.com/050E00005C0507EBAD881AB4020A1927" alt="流浪地球" style="display: block;"><span class="video-bg"></span><span class="lzbz"><p class="name">流浪地球</p><p class="actor">屈楚萧 / 李光洁 / 吴孟达 / 赵今麦 / 隋凯</p><p class="actor">电影</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
          </li>

          </ul>
        </div>
        <div class="index-tj-r">
          <h1 class="title index-color">今日热映</h1>
          <ul>

            <li>
                <a href="/movie/index9433.html" title="妖猫传"><span class="bz">HD</span><em class="qs">01.</em>妖猫传</a>
            </li>

            <li>
                <a href="/movie/index9291.html" title="奇门遁甲"><span class="bz">HD</span><em class="qs">02.</em>奇门遁甲</a>
            </li>

            <li>
                <a href="/movie/index21808.html" title="流浪地球"><span class="bz">HD</span><em class="qs">03.</em>流浪地球</a>
            </li>

            <li>
                <a href="/movie/index20486.html" title="知否知否应是绿肥红瘦"><span class="bz">78</span><em>04.</em>知否知否应是绿肥红瘦</a>
            </li>

            <li>
                <a href="/movie/index21804.html" title="疯狂的外星人"><span class="bz">HD</span><em>05.</em>疯狂的外星人</a>
            </li>

            <li>
                <a href="/movie/index21803.html" title="飞驰人生"><span class="bz">HD</span><em>06.</em>飞驰人生</a>
            </li>

            <li>
                <a href="/movie/index9951.html" title="无问西东"><span class="bz">720</span><em>07.</em>无问西东</a>
            </li>

            <li>
                <a href="/movie/index21770.html" title="新喜剧之王/喜剧之王2"><span class="bz">HD</span><em>08.</em>新喜剧之王/喜剧之王2</a>
            </li>

            <li>
                <a href="/movie/index21775.html" title="鬼吹灯之怒晴湘西"><span class="bz">21</span><em>09.</em>鬼吹灯之怒晴湘西</a>
            </li>

            <li>
                <a href="/movie/index19101.html" title="将夜"><span class="bz">60</span><em>10.</em>将夜</a>
            </li>

          </ul>
        </div>
    </div>

	<div class="index-area clearfix">
    <h1 class="title index-color">
      <span class="hitkey kp">

      <a href="/movie/index16.html">空天猎</a>

      <a href="/movie/index15736.html">死神真人版2018</a>

      <a href="/movie/index18293.html">宝贝儿</a>

      <a href="/movie/index18294.html">美丽战争</a>

      <a href="/movie/index16418.html">李茶的姑妈</a>

      </span>
      <a href="/list/index1.html">电影  »  </a></h1>
    <ul>

    <li class="p1 m1"><a class="link-hover" href="/movie/index21460.html" title="大人物"><img class="lazy" data-original="http://wx2.sinaimg.cn/mw690/006HQyhRly1g0np9bk35wj307i0anmxg.jpg" src="/pic/load.gif" alt="大人物"><span class="video-bg"></span><span class="lzbz"><p class="name">大人物</p><p class="actor">王千源,包贝尔,王迅,王砚辉</p><p class="actor">电影</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22306.html" title="黑暗之域"><img class="lazy" data-original="http://wx4.sinaimg.cn/mw690/006HQyhRly1g0n3q2vj0mj30be0h1aax.jpg" src="/pic/load.gif" alt="黑暗之域"><span class="video-bg"></span><span class="lzbz"><p class="name">黑暗之域</p><p class="actor">达尔·萨利姆,罗兰·默勒,Ali,斯坦因·费舍尔·克里斯滕森,杜菲·阿尔-加</p><p class="actor">电影</p><p class="actor">2017/欧美</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1 mmr0"><a class="link-hover" href="/movie/index22305.html" title="血浓于罪"><img class="lazy" data-original="http://wx2.sinaimg.cn/mw690/006HQyhRly1g0n3o5gto7j30nc0xcnj0.jpg" src="/pic/load.gif" alt="血浓于罪"><span class="video-bg"></span><span class="lzbz"><p class="name">血浓于罪</p><p class="actor">迈克尔·法斯宾德,布莱丹·格里森,西恩·哈里斯,罗里·金奈尔,琳赛·马</p><p class="actor">电影</p><p class="actor">2016/欧美</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index465.html" title="刺客学妹"><img class="lazy" data-original="http://r1.ykimg.com/051600005A196469ADBA1F0415035C1F" src="/pic/load.gif" alt="刺客学妹"><span class="video-bg"></span><span class="lzbz"><p class="name">刺客学妹</p><p class="actor">海莉·斯坦菲尔德 托马斯·曼 索菲·特纳</p><p class="actor">电影</p><p class="actor">2015/美国</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22304.html" title="血染淑女"><img class="lazy" data-original="http://wx3.sinaimg.cn/mw690/006HQyhRly1g0n3kp5e9tj30dc0j2wk8.jpg" src="/pic/load.gif" alt="血染淑女"><span class="video-bg"></span><span class="lzbz"><p class="name">血染淑女</p><p class="actor"> 艾米·约翰斯顿 / Jenny Wu / Muriel Hofmann</p><p class="actor">电影</p><p class="actor">2015/香港</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index22302.html" title="黑暗录像带"><img class="lazy" data-original="http://wx3.sinaimg.cn/mw690/006HQyhRly1g0n3ht9jepj30i10qowuj.jpg" src="/pic/load.gif" alt="黑暗录像带"><span class="video-bg"></span><span class="lzbz"><p class="name">黑暗录像带</p><p class="actor">Emilia,Danielle,Katelyn</p><p class="actor">电影</p><p class="actor">2017/欧美</p></span><p class="other"><i>HD</i></p></a>
    </li>


    </ul>
    </div>

	<div class="index-area clearfix">
    <h1 class="title index-color">
      <span class="hitkey kp">

      <a href="/movie/index16529.html">武动乾坤第二季</a>

      <a href="/movie/index16537.html">创业时代</a>

      <a href="/movie/index15691.html">娘道</a>

      <a href="/movie/index9185.html">亲爱的翻译官</a>

      <a href="/movie/index9955.html">恋爱先生</a>

      </span>
      <a href="/list/index2.html">电视剧  »  </a></h1>
    <ul>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22284.html" title="秘密航线"><img class="lazy" data-original="http://wx2.sinaimg.cn/mw690/006HQyhRly1g0j3h5bscxj305006kdg1.jpg" src="/pic/load.gif" alt="秘密航线"><span class="video-bg"></span><span class="lzbz"><p class="name">秘密航线</p><p class="actor">袁弘,韩雪,张丹峰,王笛,侯璎珏,崔杰,郭露文</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>26</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22262.html" title="老中医"><img class="lazy" data-original="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0f27ejz5xj307i0b9aai.jpg" src="/pic/load.gif" alt="老中医"><span class="video-bg"></span><span class="lzbz"><p class="name">老中医</p><p class="actor">陈宝国,冯远征,许晴,陈月末</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>18</i></p></a>
    </li>

    <li class="p1 m1 mmr0"><a class="link-hover" href="/movie/index22191.html" title="我的奇妙男友2之恋恋不忘"><img class="lazy" data-original="http://wx4.sinaimg.cn/mw690/006HQyhRly1g06cjqm2n9j307i0ap3yx.jpg" src="/pic/load.gif" alt="我的奇妙男友2之恋恋不忘"><span class="video-bg"></span><span class="lzbz"><p class="name">我的奇妙男友2之恋恋不忘</p><p class="actor">披拉·尼迪裴善官,虞书欣,李歌洋,田依桐</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>24</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22173.html" title="雪地娘子军"><img class="lazy" data-original="https://r1.ykimg.com/050E00005AC2E71DADBDD367DC053920" src="/pic/load.gif" alt="雪地娘子军"><span class="video-bg"></span><span class="lzbz"><p class="name">雪地娘子军</p><p class="actor">王笛,邱胜翊,曹磊,牛宝军</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>40</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index22270.html" title="芝麻胡同"><img class="lazy" data-original="http://wx1.sinaimg.cn/mw690/006HQyhRly1g0fivjej8fj30u016l1kx.jpg" src="/pic/load.gif" alt="芝麻胡同"><span class="video-bg"></span><span class="lzbz"><p class="name">芝麻胡同</p><p class="actor">何冰,王鸥,刘蓓,冯文娟,侯煜,毕彦君,方子哥,海一天,钱波,毛乐,迟嘉,</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>16</i></p></a>
    </li>

    <li class="p1 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index22180.html" title="逆流而上的你"><img class="lazy" data-original="https://eximg.hitv.com/u/o/archievideo/qq/collects/6435077694f5992665067b8c54162185.jpg_220x308.jpg" src="/pic/load.gif" alt="逆流而上的你"><span class="video-bg"></span><span class="lzbz"><p class="name">逆流而上的你</p><p class="actor">马丽,潘粤明,孙坚,李乃文,黄梦莹,刘威葳</p><p class="actor">电视剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>30</i></p></a>
    </li>


    </ul>
    </div>

	<div class="index-area clearfix">
    <h1 class="title index-color">
      <span class="hitkey kp">

      <a href="/movie/index616.html">丁丁历险记</a>

      <a href="/movie/index1710.html">郑成功</a>

      <a href="/movie/index2117.html">人偶总动员 第二季</a>

      <a href="/movie/index5773.html">Hello Kitty之苹果森林之谜</a>

      <a href="/movie/index5665.html">女神进阶指南</a>

      </span>
      <a href="/list/index3.html">动漫  »  </a></h1>
    <ul>

    <li class="p1 m1"><a class="link-hover" href="/movie/index19328.html" title="傀儡马戏团/魔偶马戏团"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529574649.jpg" src="/pic/load.gif" alt="傀儡马戏团/魔偶马戏团"><span class="video-bg"></span><span class="lzbz"><p class="name">傀儡马戏团/魔偶马戏团</p><p class="actor">池田千寻,小山力也,林原惠美,樱井孝宏｜</p><p class="actor">动漫</p><p class="actor">2018/日本</p></span><p class="other"><i>19</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index21998.html" title="邪王追妻"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2544432697.jpg" src="/pic/load.gif" alt="邪王追妻"><span class="video-bg"></span><span class="lzbz"><p class="name">邪王追妻</p><p class="actor">｜</p><p class="actor">动漫</p><p class="actor">2019/大陆</p></span><p class="other"><i>07</i></p></a>
    </li>

    <li class="p1 m1 mmr0"><a class="link-hover" href="/movie/index22309.html" title="王者歪传第二季"><img class="lazy" data-original="http://pic.bajiezy.net/upload/vod/2019-02-27/15512568289.jpg" src="/pic/load.gif" alt="王者歪传第二季"><span class="video-bg"></span><span class="lzbz"><p class="name">王者歪传第二季</p><p class="actor">｜</p><p class="actor">动漫</p><p class="actor">2017/大陆</p></span><p class="other"><i>10</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index21423.html" title="卡片战斗先导者"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2531249350.jpg" src="/pic/load.gif" alt="卡片战斗先导者"><span class="video-bg"></span><span class="lzbz"><p class="name">卡片战斗先导者</p><p class="actor">代永翼,佐藤拓也,橘田いずみ,石川静｜</p><p class="actor">动漫</p><p class="actor">2011/日本</p></span><p class="other"><i>41</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index21436.html" title="BanG Dream!第二季"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2522012214.jpg" src="/pic/load.gif" alt="BanG Dream!第二季"><span class="video-bg"></span><span class="lzbz"><p class="name">BanG Dream!第二季</p><p class="actor">爱美,大冢纱英,西本里美,大桥彩香｜</p><p class="actor">动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>09</i></p></a>
    </li>

    <li class="p1 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index21747.html" title="3D彼女第二季/三次元女友第二季"><img class="lazy" data-original="http://pic.bajiezy.net/upload/vod/2019-01-17/154772133819.jpg" src="/pic/load.gif" alt="3D彼女第二季/三次元女友第二季"><span class="video-bg"></span><span class="lzbz"><p class="name">3D彼女第二季/三次元女友第二季</p><p class="actor">芹泽优,上西哲平,苍井翔太,津田美波｜</p><p class="actor">动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>08</i></p></a>
    </li>


    </ul>
    </div>

	<div class="index-area clearfix">
    <h1 class="title index-color">
      <span class="hitkey kp">

      <a href="/movie/index21693.html">德云社郭德纲跨年专场 2019</a>

      <a href="/movie/index22085.html">2019年中央电视台春节联欢晚会</a>

      <a href="/movie/index11871.html">遇见你真好</a>

      <a href="/movie/index17822.html">食尚玩家</a>

      <a href="/movie/index17821.html">综艺3国智</a>

      </span>
      <a href="/list/index4.html">综艺  »  </a></h1>
    <ul>

    <li class="p1 m1"><a class="link-hover" href="/movie/index17828.html" title="麻辣天后传"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2277898410.jpg" src="/pic/load.gif" alt="麻辣天后传"><span class="video-bg"></span><span class="lzbz"><p class="name">麻辣天后传</p><p class="actor">利菁｜</p><p class="actor">综艺</p><p class="actor">2017/台湾</p></span><p class="other"><i>20190228</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index17825.html" title="女人我最大"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2222148704.jpg" src="/pic/load.gif" alt="女人我最大"><span class="video-bg"></span><span class="lzbz"><p class="name">女人我最大</p><p class="actor">蓝心湄｜</p><p class="actor">综艺</p><p class="actor">2011/台湾</p></span><p class="other"><i>20190228</i></p></a>
    </li>

    <li class="p1 m1 mmr0"><a class="link-hover" href="/movie/index17829.html" title="上班这党事"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2319980719.jpg" src="/pic/load.gif" alt="上班这党事"><span class="video-bg"></span><span class="lzbz"><p class="name">上班这党事</p><p class="actor">陈建州,徐薇｜</p><p class="actor">综艺</p><p class="actor">2011/台湾</p></span><p class="other"><i>20190228</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index17820.html" title="爱玩客"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2227859882.jpg" src="/pic/load.gif" alt="爱玩客"><span class="video-bg"></span><span class="lzbz"><p class="name">爱玩客</p><p class="actor">郑坚克,夏于乔,吴凤,钟昀呈｜</p><p class="actor">综艺</p><p class="actor">2011/台湾</p></span><p class="other"><i>20190228</i></p></a>
    </li>

    <li class="p1 m1"><a class="link-hover" href="/movie/index21992.html" title="女儿们的恋爱"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2546249886.jpg" src="/pic/load.gif" alt="女儿们的恋爱"><span class="video-bg"></span><span class="lzbz"><p class="name">女儿们的恋爱</p><p class="actor">任家萱,任容萱,任明延,沈梦辰｜</p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>20190227</i></p></a>
    </li>

    <li class="p1 m1 mmr0 pmr0"><a class="link-hover" href="/movie/index21983.html" title="以团之名"><img class="lazy" data-original="http://apiapi88.com/tu.php?tu=http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2546092171.jpg" src="/pic/load.gif" alt="以团之名"><span class="video-bg"></span><span class="lzbz"><p class="name">以团之名</p><p class="actor">任家萱,袁娅维,王霏霏,何展成｜</p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>20190228</i></p></a>
    </li>


    </ul>
    </div>

</div>
<div class="ylink clearfix">

      <a href="http://www.smdytv.com" target="_blank">神马影院</a>

      <a href="http://www.wobuka.net" target="_blank">我不卡影院</a>

      <a href="http://www.ppypp.co" target="_blank">PPYPP影院</a>

      <a href="http://www.laobiao8.com" target="_blank">老表TV</a>

      <a href="http://www.tepian888.com" target="_blank">特片网</a>

      <a href="http://www.qiuxiady.co" target="_blank">秋霞电影网</a>

      <a href="http://www.xigua110.co" target="_blank">西瓜影院</a>

      <a href="http://www.2828dy.co" target="_blank">2828电影网</a>

      <a href="http://www.dy888.org" target="_blank">dy888伦理电影</a>

      <a href="http://www.4k4k.org" target="_blank">4k4k影院</a>

      <a href="http://www.thcdy.com" target="_blank">童话村电影</a>

      <a href="http://www.phdy.org" target="_blank">飘花电影网</a>

      <a href="http://www.A4YY.ORG" target="_blank">a4yy首播影院</a>

      <a href="http://www.smdy.ws" target="_blank">神马电影</a>

      <a href="http://www.YY4080.CO" target="_blank">yy4480</a>

      <a href="http://www.wlyy123.com" target="_blank">未来影院</a>

      <a href="http://www.wobuka8.com" target="_blank">神马影院伦理我不卡</a>

      <a href="http://www.lunli666.com" target="_blank">伦理片</a>

      <a href="http://www.dadatudy.com" target="_blank">达达兔电影</a>

      <a href="http://www.44804480.com" target="_blank">4480</a>

      <a href="http://www.lldy.info" target="_blank">最新伦理电影</a>

      <a href="http://www.d9d9.co" target="_blank">第九影院</a>

</div>
<div class="footer clearfix"><p>本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传</p>
<p>若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢</p>
<p>Copyright ©2018-2019 All Rights Reserved · <a href="/">http://www.4k4k.org</a> 4k影院 · 版权所有 </p>
<p><a href="/xml/baidu.xml">百度地图</a> · <a href="/xml/google.xml">google地图</a> · <a href="/xml/rss.xml">rss订阅</a> · <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274353698'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274353698' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1274353698"><a href="https://www.cnzz.com/stat/website.php?web_id=1274353698" target="_blank" title="站长统计">站长统计</a></span><script src=" http://s19.cnzz.com/z_stat.php?id=1274353698" type="text/javascript"></script><script src="http://c.cnzz.com/core.php?web_id=1274353698&amp;t=z" charset="utf-8" type="text/javascript"></script></p><p class="footer-bg"><span class="bg"></span></p></div>
<div class="ct-r"></div><div class="gotop"><a class="gotopbg" href="javascript:;" title="返回顶部"></a></div>


</div></body>
</html>